MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=voteinsight
JWT_SECRET=change-this-secret



#opening backend  .\.venv\Scripts\Activate.ps1 then python -m uvicorn app.main:app --reload --port 8001 for frontend  npm run dev